<article id="email" class="panel">
	<header>
		<h2>Email Me</h2>
	</header>
	<form action="#" method="post">
		<div>
			<div class="row half">
				<div class="6u">
					<input type="text" class="text" name="name" placeholder="Name" />
				</div>
				<div class="6u">
					<input type="text" class="text" name="email" placeholder="Email" />
				</div>
			</div>
			<div class="row half">
				<div class="12u">
					<input type="text" class="text" name="subject" placeholder="Subject" />
				</div>
			</div>
			<div class="row half">
				<div class="12u">
					<textarea name="message" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<input type="submit" class="button" value="Send Message" />
				</div>
			</div>
		</div>
	</form>
</article>