<div id="footer">
	<ul class="links">
		<li>&copy; Jane Doe</li>
		<li>Images : <a href="http://fotogrph.com/">fotogrph</a></li>
		<li>Design : <a href="http://html5up.net/">HTML5 UP</a></li>
		<li>Modified to work with the <a href="https://www.harp.io">Harp Platform</a></li>
	</ul>
</div>
