	<article id="me" class="panel">
		<header>
			<h1><%= me.name %></h1>
			<span class="byline"><%= me.title %></span>
		</header>
		<a href="#work" class="jumplink pic">
			<span class="jumplink arrow icon icon-chevron-right"><span>See my work</span></span>
			<img src="images/me.jpg" alt="" />
		</a>
	</article>
