<nav id="nav">
	<a href="#me" class="icon icon-home active"><span>Home</span></a>
	<a href="#work" class="icon icon-folder-close"><span>Work</span></a>
	<a href="#email" class="icon icon-envelope"><span>Email Me</span></a>
	<a href="http://twitter.com/n33co" class="icon icon-twitter"><span>Twitter</span></a>
</nav>
